<section class="header">
    <nav class="navbar navbar-fixed-top ">
        <div class="container-fluid bg-primary ">
            <div class="navbar-header margin-t-10 margin-b-10 ">
                <p class="navbar-text f-size-20 margin-b-0 margin-l-0 margin-r-0 color4">Dual Avatar Script Builder</p>
            </div>
            <div class="navbar-header margin-t-10 margin-b-10 navbar-right">
                <button type="button" class="btn btn-white navbar-btn color1">Log out</button>
            </div>

        </div>
    </nav>

    <div class="row navigation-row">
        <div class="col-md-12">
            <div class="pull-left margin-0">
                <button class="btn btn-light color1 pull-right ">
                    Transfer avatar script
                </button>

                <button type="button" class="btn btn-light color1 pull-right margin-r-15" data-toggle="collapse" data-target=".create-script-menu" aria-expanded="false" aria-controls="create-script-menu">
                    Create new avatar script
                </button>
            </div>
        </div>

        <div class="col-md-12 collapse create-script-menu">
            <div class="row">
            <hr>
                <div class="col-md-5">
                    <h4>Create new avatar script</h4>
                    <div class="row">
                        <form class="form js_form_create_new_script" action="ajax.php" method="get">
                            <div class="control-group col-md-4">
                                <div class="controls">
                                    <div class="form-group error-wrapper ">
                                        <label class="sr-only" for="newScriptName">Script name</label>
                                        <span class="error-message hidden">Error - empty field "New script name"</span>
                                        <input type="text" class="form-control js_new_script_name" name="newScriptName" id="newScriptName" placeholder="Enter new script name">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group col-md-6 ">
                                <div class="controls">
                                    <div class="form-group">
                                        <label class="sr-only" for="newScriptDescription">Script description</label>
                                        <input type="text" class="form-control js_new_script_description" name="newScriptDescription" id="newScriptDescription" placeholder="Enter script description">

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="submit" class="btn btn-default js_create_new_script">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>