<tr class="rebuttals_row">
    <td class="rebbutal_btn_text">
        <input type="text" class="from-control">
    </td>
    <td class="rebbutal_btn_category">
        <select name="rebbutal_btn_category" id="rebbutal_btn_category" class="form-control">
            <option value=""></option>
        </select>
    </td>
    <td class="rebbutal_btn_color">
        <select name="rebbutal_btn_color" id="rebbutal_btn_color" class="form-control selectpicker">
            <option value="black">Black</option>
            <option value="brown">Brown</option>
            <option value="cadetBlue">Cadet Blue</option>
            <option value="darkblue">Dark blue</option>
            <option value="darkOrange" selected="selected">Dark Orange</option>
            <option value="darkgreen">Dark Green</option>
            <option value="green">Green</option>
            <option value="greenYellow">Green Yellow</option>
            <option value="khaki">Khaki</option>
            <option value="lavender">Lavender</option>
            <option value="lightblue">Lightblue</option>
            <option value="lightSeaGreen">LightSeaGreen</option>
            <option value="lightskyblue">Lightskyblue</option>
            <option value="maroon">Maroon</option>
            <option value="orange">Orange</option>
            <option value="pink">Pink</option>
            <option value="purple">Purple</option>
            <option value="red">Red</option>
            <option value="salmon">Salmon</option>
            <option value="yellow">Yellow</option>
        </select>
    </td>
    <td class="rebbutal_boundary">
        <select name="rebbutal_boundary" id="rebbutal_boundary" class="form-control">
            <option value="both">Both</option>
            <option value="inbound">Inbound only</option>
            <option value="outbound">Outbound only</option>
        </select>
    </td>
    <td class="rebuttal_hotkey">
        <input type="text" class="from-control col-md-12">
    </td>
    <td class="rebuttal_filename">
        <input type="text" class="from-control">
    </td>
    <td class="rebbutal_autoplay">
        <input type="checkbox" class="from-control">
    </td>
    <td class="rebbutal_disposition">
        <select name="rebbutal_disposition" id="rebbutal_disposition" class="form-control">
            <option value=""></option>
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="callback">CALLBK</option>
            <option value="dc">DC</option>
            <option value="dead">DEAD</option>
            <option value="dec">DEC</option>
            <option value="dnc">DNC</option>
            <option value="n">N</option>
            <option value="ni">NI</option>
            <option value="np">NP</option>
            <option value="ring" selected="">RING</option>
            <option value="sale">SALE</option>
            <option value="xfer">XFER</option>
        </select>
    </td>
    <td class="text-center">
        <a href="#" class="js_delete_row"><i class="fa fa-trash color10 fa-lg"></i></a>
    </td>
</tr>
