<tr>
    <td class="btn_category">
        <input type="text" class="from-control col-md-12">
    </td>
    <td class="clicks_count">
        <input type="text" class="from-control col-md-12">
    </td>
    <td class="desired_action">
        <select name="desired_action" id="desired_action" class="form-control">
            <option value="trigger_button_hangup_call">Trigger button hangup call</option>
            <option value="trigger_button">Trigger button</option>
        </select>
    </td>
    <td class="trigger_btn">
        <select name="trigger_btn" id="trigger_btn" class="form-control">

        </select>
    </td>
    <td class="text-center">
        <a href="#" class="js_delete_row"><i class="fa fa-trash color10 fa-lg"></i></a>
    </td>
</tr>