<tr class="js_script_row" data-script-id="1">
    <td class="script-name-column"> test name</td>
    <td class="description-field-column">
        <input type="text" class="input-without-style" value="As we got further and further away, it [the Earth] diminished in size.">
    </td>
    <td class="voice-talent-column">
        <input type="text" class="input-without-style" value="Test">
    </td>
    <td class="camp-id-column"> --</td>
    <td class="rebuttals-numbers-column"><a href="/rebuttals.html">0</a></td>
    <td class="script-status status_innactive">innactive</td>
    <td class="open-location-column text-center"><a href="#" data-toggle="tooltip" data-placement="top" title="watch location of script"><i class="fa fa-folder-open-o fa-lg"></i></a></td>
    <td class="delete-column text-center"><a href="#" class="js_delete_row"><i class="fa fa-trash color10 fa-lg"></i></a></td>
</tr>